<!-- <p>projects works!</p> -->
<div class="container text-center">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-10">
        <p class = "bold-text">Projects</p>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">SL.No</th>
                <th scope="col">Project</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Spring boot project 1</td>
                <td>Spring boot project 2</td>
                <td>Spring boot project 3</td>
                <td>Spring boot project 4</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Android project 1</td>
                <td>Android project 2</td>
                <td>Android project 3</td>
                <td>Android project 4</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </div>
