<!-- <p>skills works!</p> -->

<div class="container text-center">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-10">
        <p class = "bold-text">Skills</p>
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">SL.No</th>
                    <th scope="col">Technologies</th>
                    <!-- <th scope="col">Course</th>
                    <th scope="col">Marks (%,cgpa)</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Java</td>
                    <td>JavaEE, Regex</td>
                    <td>Android</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Python3</td>
                    <td>Data Structures And Algorithms</td>
                    <td>DBMS</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td >MySql</td>
                    <td>Postgresql</td>
                    <td>HTML, CSS, JS</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td >Angular</td>
                    <td>Python</td>
                    <td>Oracle</td>
                  </tr>
                </tbody>
              </table>
      </div>
    </div>
</div>
